html {
/*-ms-scrollbar-face-color: gray;
-ms-scrollbar-track-color: gray;*/
scrollbar-face-color:#e8e8e8; 

scrollbar-3dlight-color:white; 
scrollbar-darkshadow-color:white; 


scrollbar-track-color:#white; 
} 



::-webkit-scrollbar{ 
background:#fff; 
width:16px;
height: 16px;
overflow: visible;
} 
::-webkit-scrollbar-thumb { 
background-color: rgba(0, 0, 0, .2);
background-clip: padding-box;
border: solid transparent;
border-width: 1px 1px 1px 6px;
min-height: 28px;
padding: 100px 0 0;
box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1),inset 0 -1px 0 rgba(0, 0, 0, .07);
} 
::-webkit-scrollbar-thumb:hover { 
background-color:#a8a6a6; 
} 
::-webkit-scrollbar-button { 
height: 0; 
width: 0;

} 
::-webkit-scrollbar-track { 
background-clip: padding-box;
border: solid transparent;
border-width: 0 0 0 4px;
} 
::webkit-scrollbar-corner { 
background: transparent; 
} 